/* menu buttons are off from words... */

/* =================================
  Base Element Styles
==================================== */

* {
	/* make sure boxes don't go outside forms */
    box-sizing: border-box;
}

html {
	/* Situating the footer */
	position: relative;
	min-height: 100vh;
}

header {
	margin-top: 1em;
}

body {
	font-family: Arial, sans-serif;
	padding-bottom: 5rem;    /* White-Space to Include Footer*/
}
  
footer {
	/* Situating the footer */
	position: absolute;
	bottom: 0;
	height: 1.5rem;            /* Footer height */
}

h1, h3, h4 {
	font-family: "Geneva", sans-serif;
}

h3 {
	font-weight: 400;
}

img {
	max-width: 100%;
}

a {
	text-decoration: None;
	color:rgb(106, 128, 255);
	border-bottom: .75px solid rgba(106, 128, 255, .4);
}

a:visited {
	color:#6a80ff;
}

a:hover {
	border-bottom: .75px solid rgb(106, 128, 255);
}

textarea {
	width: 100%;
	height: 100%;
}

input {
	width: 100%;
}

/* =================================
	Container Styles
==================================== */

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ---- Layout Containers ---- */

.container {
	width: 80%;
	/* keep everything centered */
	margin: 0 auto;
}

.block {
	/* block of content in site */
	padding: 1em 0em;
}


/* =================================
	Core Blog Elements
==================================== */

/* --- Main Nav Menu --- */

#main-nav > *, #phone-menu-btn {
	/* ensure consistent padding */
	margin-top: 10px;
	margin-bottom: 10px;
}

#nav-menu-title {
	display: block;
	font-size: 1.75em;
}

.phone-menu-dropdown {
	/* hide dropdown elements initially */
	display: none;
}

#main-nav a {
	/* get rid of link bottom border and coloring */
	border-bottom: None;
	color: black;
}

#main-nav a:hover {
	color: #3F4234;
}

#phone-menu-btn {
	float: right;
}

#main-nav {
	float: left;
	font-family: "Geneva", sans-serif;
}

#subscribe-link {
	border: none;
	padding: 0;
}


/* --- Modal Windows --- */

/* The Modal */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}


/* --- Banners --- */

/* banner image should have small black outline...*/
#banner-img {
	border: solid 1px black;
	padding: .4em;
}

#banner button {
	/* allows buttons to expand with window */
	width: 45%;
}

#banner h1 {
	font-size: 2.25em;
	margin: 0.5em 0 0 0; /* padding down from image above, no padding below */
}

/* ----The Iconic Black and White Line Border Style ----- */
button, select, .form-element {
	padding: .5em 1.25em;
	border: solid 1px;
}

/* ---- Forms ---- */

form button {
	margin-top: 1em;
	width: 100%;
}

#body_img_div label {
	/* Keep number on same line as Upload button */
    float:left;
	height: 20px;
	padding-top: 3px;
	width: 30px;
}

#body_img_div input {
    width: 300px;
}

.form-element {
	font-family: "Geneva", sans-serif;
	margin-top: 1em;
}


/* --- Buttons --- */

button {
	background: none;
}

button:hover {
	color: #3F4234;
}

/* gets rid of that weird blue box around buttons when clicked */
:focus {outline:0 !important;}


/* ---- Link Styling ---- */

h2 .uncolored-link, .uncolored-link {
	/* I don't know why, but to get the post sample h2 to be black,
	I have to expicitly declare h2 here */
	border-bottom: None;
	color: black;
}

.btn-link:hover {
	border-bottom: None;
}

/* =================================
	Unique Element Styles
==================================== */

/* Initially Hide Subscribe Message In Subscribe Modal */
#subscribe_message {
	display:none;
}

#email_preview, #post_preview {
    margin-top: 2em;
    padding: 1em;
    border: solid 1px;
    display: None;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	/* ---- Layout Containers ---- */

	.container {
		width: 75%;
		margin: 0 auto;
	}

	/* ----- Main Nav Styles ---- */

	#main-nav > * {
		display: block !important;
	}

	#main-nav {
		width: 100%;
		display: flex;
		align-items: center;
	}

	.nav-nontitle-link {
		line-height: 2em;
	}

	.left-nav-item {
		margin-right: 1em;
	}

	#phone-menu-btn {
		display: None;
	}

	#subscribe-link {
		padding: .5em 1.25em;
		border: solid 1px;
		margin-left: auto;
	}

	/* ----- Banner Styles ---- */

	#banner {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		/* margin-top: 2em;
		margin-bottom: 2em; */
	}

	#banner-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 5%; /* keep padding between text and image */
	}

	#banner-img {
		flex-shrink: 1.5; /* image will shrink if text runs out of room */
	}

	#banner h1 {
		font-size: 2.75em;
		margin: 0;
	}


	/* ----- Other Styles ---- */

	/* Modifies modal window. */
	.small-width-element {
		width: 40%;
		margin: 0 auto;
	}
}

@media (min-width: 1025px) {

	/* ---- Layout Containers ---- */

	.container {
		width: 55%;
		margin: 0 auto;
	}


	/* ----- Other Styles ---- */

	/* Modifies modal window. */
	.small-width-element {
		width: 25%;
		margin: 0 auto;
	}

}