<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/Normalize.css">
    <title>Kelly Foulk</title>
    <!--Contain's the basic layout for the home page, which I will be populating with information from the database.-->
</head>

<body>
    <h1>Hi this is an h1</h1>

    <h2>Hi this is an h2</h2>

    <h3>Hi this is an h3</h3>

    <h4>Hi this is an h4</h4>

    <h5>Hi this is an h5</h5>

    <h6>Hi this is an h6</h6>

    <a href="">This is a link</a>

    <p>Hi this is a paragraph</p>

    <ol>
        <li>I'm in order</li>
    </ol>

    <ul>
        <li>I'm not in order</li>
    </ul>

</body>