{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <div class="container clearfix banner">
            <div class="banner-left" id="main-banner">
                <img src="../static/meFSUGrad.jpg">
            </div>
            <div class="banner-right">
                <h1>Hiya, I'm Kelly</h1>
                <h4>I like to code. And lots of other things. Find out more about my projects and other adventures below:</h4>
                <a href='/code'><button class="l btn category_btn">Code</button></a>
                <a href='/other'><button class="r btn category_btn">Other</button></a>
            </div>
        </div>

        <hr>

        <div class="container">
            {% for post in posts %}
            <div class="post-sample">
                <h2>{{ post.h1 }}</h2>
                <h4>{{ post.date }}</h4>
                <p>{{ post.sample }}</p>
                <a href='/post/{{post.id}}'><button class="btn">Read More</button></a>
            </div>
            <hr style="width:100%;">
            {% endfor %}
        </div>

{% endblock %}


<!--for later:
// code block filled with tags of my posts -- leads to previews of all posts
tagged with that thing-->
