<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BJ6D97X0ZL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BJ6D97X0ZL');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='Normalize.css')}}">
    <title>Kelly Foulk</title>
    <!--Contain's the basic layout for the home page, which I will be populating with information from the database.-->
</head>

<header>
    <nav class="clearfix">
        <div id="main-nav">
            <a href="/" class="left-nav-item" id="nav-menu-title">Kelly Foulk</a>
            <a href="/code" class="phone-menu-dropdown left-nav-item nav-nontitle-link">Code</a>
            <a href="/other"class="phone-menu-dropdown left-nav-item nav-nontitle-link">Other</a>
            <button class='phone-menu-dropdown' id='subscribe-link'>Subscribe</button>
        </div>
        <button id="phone-menu-btn" onclick=showMenu()>Menu</button>
    </nav> <!--/.main-header-->
    <!-- The Modal -->
    <div id="subscribe_modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content small-width-element">
        <span class="close" id='modal_close'>&times;</span>
        <h2 id='initial-subscribe-message'>Let's stay in touch!</h2>
        <p class='error-message' id="subscribe-dup-email-message">This email is already subscribed, try another.</p>
        <form action="/subscribe" method="POST" id='subscribe-form'>
            <input class="form-element" autofocus name="first" placeholder="First Name" type="text">
            <input class="form-element" name="last" placeholder="Last Name" type="text">
            <input class='form-element' name='email' placeholder='Email' type="email" required>
            <button id='subscribe_signup' type="submit">Sign up</button>
        </form>
        <h3 id="subscribe-success-message">I'll be in touch soon!</h3>
        </div>
    </div>
    <hr>
</header>
<body class="container">
    {% block main %}{% endblock %}
</body>
<footer>
    <span>&copy;2020 Kelly Foulk.</span>
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</footer>
</html>
