{% extends "layout.html" %}

{% block title %}
    Admin Panel
{% endblock %}

{% block main %}
<h1>Howdy!</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
{% endwith %}
<a class="btn-link uncolored-link" href='/admin/create'><button>Create Post</button></a>
<a class="btn-link uncolored-link" href='/admin/edit'><button>Edit Post</button></a>
<a class="btn-link uncolored-link" href='/admin/delete'><button>Delete Post</button></a>
<a class="btn-link uncolored-link" href='/admin/send-mail'><button action="admin.send-mail">Send Mail</button></a>
<a class="btn-link uncolored-link" href='/admin/logout'><button>Logout</button></a>
{% endblock %}
