Sample:
Welcome to my blog! Here you'll find updates about the latest coding (and other!) projects I'm cooking up. Stay tuned for python, climbing etc. I'm also proud to say that I made this from scratch, soon I'll give you a tour.

<script>
    p {
        background-color: pink;
    }
</script>

<p>Welcome to my new blog. Last month I joined the Recurse Center's Winter 1 Batch and made coding my full-time (currently unpaid) job. I fell in love with coding last March and it's high time I created a place to share my projects. So! This blog will serve as a platform to said my coding projects (and a few life adventures). I've heard that one of the best ways to make sure you understand something is to explain it...so I'll try to do that here.</p>

<p>For each project I will explain:</p>

<ol>
    <li>What the project does</li>
    <li>Why I decided to make the project</li>
    <li>How the project works</li>
    <li>Anything else I found interesting</li>
</ol>

<p>Besides code, I might probably photo drop stuff from my latest adventures traveling, climbing, hiking, etc. Maybe I'll also share some non-tech projects I'm working on. Who knows - basically whatever's floating my boat at the moment.</p>

<p><i>P.S. If something's not working on this blog, please let me know at klf16@my.fsu.edu, I made it from scractch so bugs are highly likely. Soon I'll create a post about how I made everything!</i></p>
