/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	padding-top: 1em;
	font-family: Arial, sans-serif;
}

h1 {
	font-family: "Geneva", sans-serif;
}

img {
	max-width: 100%;
}



/* =================================
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container {
	width: 80%;
	margin: 0 auto;
}

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


/* ---- Navigation ---- */

.main-nav a {
	font-family: "Geneva", sans-serif;
	display: block;
	text-align: left;
	padding: 10px 15px;
	color: black;
}

.main-nav a:hover {
	color: #3F4234;
}

#phone_menu {
	display: none;
}

#title {
	font-size: 1.5em;
}

#menu {
	float: left;
}

#phone_menu_btn {
	float: right;
	background: none;
	margin-top:0.4em;
	padding: .5em 1.25em;
	border: solid 1px;
	font-family: "Geneva", sans-serif;
}

#phone_menu_btn:visited {
	border: none;
}

/* ---- Banner ---- */

#banner {
	margin-top: 3em;
	margin-bottom: 3em;
}

#banner img {
	padding: .4em;
}

#banner h4 {
	font-weight: normal;
}

#banner-right {
	border: solid 1px black;
	margin: .4em
}

#banner-left {
	margin: .4em;
}


/* ---- Page Elements ---- */


/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	/* ---- Layout Containers ---- */

	.container {
		width: 70%;
	}

	/* ---- Navigation ---- */

	#phone_menu {
		display: contents!important;
	}

	#menu, #phone_menu_btn {
		float: none;
	}

	.l {
		float: left;
	}

	.r {
		float: right;
	}

	#phone_menu li {
		display: inline-block;
		margin-left: 15px;
		padding-top: .45em;
	}

	#phone_menu_btn {
		display: none;
	}

	/* ---- Banner ---- */

	#banner {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#banner-right {
		float: right;
		width: 50%;
	}

	#banner-left {
		float: left;
		width: 50%;
	}

	#banner h1 {
		font-size: 3em;
	}
}

@media (min-width: 1425px) {

	.container {
		width: 65%;
		margin: 0 auto;
	}

	#banner h1 {
		font-size: 4em;
	}

	#banner h4 {
		font-size: 1.5em;
	}

	#banner-right, #banner-left {
		margin-left: 1.25em;
		margin-right: 1.25em;
	}


}
