/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #3F4234;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
	line-height: 0;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;
	background: #A1BBD0;
  margin-bottom: 25px;
}

.columnButton {
    color: white;
    background: #508abc;
    border: solid 1px;
    border-color: rgba(0, 0, 0, .1);
    cursor: pointer;
		font-size: .95em;
		padding: 1em 5em;
		border-radius: .3em;
		outline: 0;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}

.name a,
.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	color: #D1A827;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #3F4234;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	color: #fff;
	background: #3F4234;
	padding: 3.2em 0;
	margin-bottom: 60px;
}

.intro {
  margin: 0 auto;
  border: 10px solid #687672;
  box-shadow: 2px 2px 4px rgba(0,0,0,.4);
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
  padding: 3em 2em 3em 2em;

}

.col {
	padding-right: 1em;
	padding-left: 1em;
	text-align:center;
}

.future {
  background: #F4E7D7;
  padding: 4em 4em;
  margin-top: 40px;
  margin-bottom: 60px;
}

.main-footer {
	background: #A1BBD0;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

.profile-pic {
  width: 40%;
  height: 40%;
  border-radius: 10%;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

  body {
    padding-top: 68px;
  }

  .main-header {
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  .container {
		width: 90%;
		margin: 0 auto;
	}

  .colImg {
    width: 100%;
    height: 100%;
  }

  .colhead {
    text-align: center;
  }

	.name,
	.travel,
  .education,
  .future {
		float: left;
	}

	.travel,
	.education {
		width: 50%;
    margin-top: 60px;
	}

  .travel {
    padding-left: 2em;
  }

  .education {
    padding-right: 2em;
  }

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}

	.profile-pic {
	  width: 20%;
	  height: 20%;
	  border-radius: 10%;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1425px) {

	.container {
		width: 80%;
		max-width: 1150px;
	}

	.future {
		width: 40%;
	}

	.travel,
	.education {
		width: 30%;
	}

  .education {
    float: left;
  }

  .travel {
    float: right;
  }

  .future {
    float: right;
}
