{% extends "layout.html" %}

{% block title %}
    Admin Panel
{% endblock %}

{% block main %}
    <div class="container inner">
        <h1>Howdy!</h1>
        <h3>What would you like to do today?</h3>
        <a href='/create'><button class="btn admin-btn">Create Post</button></a>
        <a href='/edit'><button class="btn admin-btn">Edit Post</button></a>
        <a href='/delete'><button class="btn admin-btn">Delete Post</button></a>
        <a href='/send-mail'><button class="btn admin-btn">Send Mail</button></a>
        <a href='/logout'><button class="btn admin-btn">Logout</button></a>
    </div>
{% endblock %}
