{% extends "layout.html" %}

{% block title %}
    New Post
{% endblock %}

{% block main %}
<form action="/create" method="POST" class="container" enctype="multipart/form-data">
    <h1>Create New Post (#{{ post_id }})</h1>
    <i>If you are uploading images:
        <ol>
            <li>Make sure ENV is set to 'prod' in app.py.</li>
            <li>Create the post locally using 'python3 app.py' (the post and image info will be pushed to the production database).</li>
            <li>Afterwards don't forget to commit your changes and 'push origin heroku' to make sure that the images are stored in the /static file in heroku's directory.</li>
        </ol>
    </i>
    <h3>Post Title (text):</h3>
    <input type="text" name="h1" maxlength="125" />
    <h3>Sample (text):</h3>
    <textarea name="sample" cols="30" rows="3" maxlength="150"></textarea>
    <h3>Youtube Video ID:</h3>
    <input type="text" name="youtube_vid" maxlength="125" />
    <h3>Header Image:</h3>
    <input type="file" name="header" accept=".jpg,.png,.gif">
    <h3>Body Images:</h3>
    <input type="file" name="body_images" accept=".jpg,.png,.gif" multiple>
    <h3>Body (html):</h3>
    <textarea name="body" cols="30" rows="10"></textarea>
    <h3>Category:</h3>
    <select name="category">
        <option value="">Select Category</option>
        <option value="code">Code</option>
        <!-- Eventually have ability to make new categories. Or maybe have tags so I can filter between things?-->
        <option value="other">Other</option>
    </select>
    <button class="btn form-btn" type="submit">Create Post</button>
</form>

{% endblock %}
