<!--Contain's the basic layout for the home page, which I will be populating with information from the database.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Kelly Foulk</title>
</head>

<body>

  <header class="main-header">
    <div class="container clearfix">
      <h1 class="name"><a href="#">Kelly Foulk</a></h1>
      <ul class="main-nav">
        <li><a href="#">Education</a></li>
        <li><a href="#">Travel</a></li>
        <li><a href="#">The Future</a></li>
      </ul>
    </div>
  </header> <!--/.main-header-->
</body>
</html>

<!--create top menu-->

<!--black line-->

<!--intro to me, picture of me, two columns-->

<!--black line-->

<!--for now: previews of all of the posts-->

<!--for later:
// code block filled with tags of my posts -- leads to previews of all posts
tagged with that thing-->

<!--subscribe button-->
