<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Kelly Foulk</title>
    <!--Contain's the basic layout for the home page, which I will be populating with information from the database.-->
</head>

<body>

  <header class="main-header">
  </header> <!--/.main-header-->
</body>
</html>

<!--create top menu-->

<!--black line-->

<!--intro to me, picture of me, two columns-->

<!--black line-->

<!--for now: previews of all of the posts-->

<!--for later:
// code block filled with tags of my posts -- leads to previews of all posts
tagged with that thing-->

<!--subscribe button-->
