{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="block" id="banner">
    <div id="banner-img">
        <img src="../static/meFSUGrad.jpg">
    </div>
    <div id="banner-text">
        <h1>Hiya, I'm Kelly</h1>
        <h4>I like to code. And lots of other things. Find out more about my projects and other adventures below...</h4>
        <div>
            <a class="btn-link uncolored-link" href='/code'><button>Code</button></a>
            <a class="btn-link uncolored-link" href='/other'><button>Other</button></a>
        </div>
    </div>
</div>

<hr>

{% for post in posts %}
<div class="block">
    <h2><a class="uncolored-link" href='/post/{{post.id}}'>{{ post.h1 }}</a></h2>
    <h4>{{ post.date }}</h4>
    <p>{{ post.sample }}</p>
    <a class="btn-link uncolored-link" href='/post/{{post.id}}'><button class="btn">Read More</button></a>
</div>
<hr>
{% endfor %}

{% endblock %}
